.h-100 {
    height: 100% !important;
}
.h-1000 {
  height: 1000px !important;
}
.minH-60 {
    min-height: 60% !important;
}
.minH-100 {
    min-height: 100% !important;
}
.max-height125{
  max-height: 125px !important;
}


.weight-300 {
  font-weight: 300 !important;
}
.weight-500 {
  font-weight: 500 !important;
}
.weight-700 {
    font-weight: 700 !important;
}
.weight-800 {
  font-weight: 800 !important;
}


.fs9 {
  font-size: 9px !important;
}
.fs10 {
  font-size: 10px !important;
}
.fs11 {
  font-size: 11px !important;
}
.fs12 {
  font-size: 12px !important;
}
.fs13 {
  font-size: 13px !important;
}
.fs14 {
  font-size: 14px !important;
}
.fs15 {
  font-size: 15px !important;
}
.fs16 {
  font-size: 16px !important;
}
.fs18 {
  font-size: 18px !important;
}
.fs24 {
  font-size: 24px !important;
}
.fs28 {
  font-size: 28px !important;
}
.fs30 {
  font-size: 30px !important;
}


.border {
  border-radius: 8px !important;
}
.borderExtra {
  border-radius: 15px !important;
}
.borderXL {
  border-radius: 20px !important;
}
.bottomRightRadius {
  border-bottom-right-radius: 50px !important;
}
.bottomLeftRadius {
  border-bottom-left-radius: 50px !important;
}
.topRightRadius {
  border-top-right-radius: 50px !important;
}
.topLeftRadius {
  border-top-left-radius: 50px !important;
}



  .welcome {
    color: #bcc2d4;
  }
  .whiteBtn > .v-btn__content {
    color: white !important;
    font-size: 14px;
}
  .username {
    color: #3b3530;
  }
  .semiBlackText {
    color: #3B3530;
  }
  .white--text{
    color: white !important;
  }
  .red--text{
    color: red !important;
  }
  .green--text{
    color: green !important;
  }
  .black--text{
    color: black !important;
  }
  .paleText {
    color: #aeadab;
  }
  .darkenColor {
    color: #F0B04D !important;
  }
  

  .flexEnd {
    align-self: flex-end !important;
  }
  .alignCenter {
    align-self: center !important;
  }
  .alignStart {
    align-self: baseline !important;
  }
  .flexStretch {
    align-self: center !important;
  }

  .position-relative {
    position: relative !important;
  }
  .center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  .top-right-absolute-below {
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-85%, -28%);
  }
  .top-right-absolute {
    position: absolute;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
  }
  .top-center-absolute {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bottom-center-absolute {
    position: absolute !important;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
  .position-absolute {
    position: absolute !important;
  }
  .alertPosition{
    position: fixed !important;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    min-width: calc(100% - 40px);
  }
  .r15b0 {
    right:15%;
    bottom:0;
  }
  .r55b0 {
    right:55%;
    bottom:0;
  }
  .titleBar {
    left: 0;
    top: 20%;
  }
  .marginTop2 {
    margin-top: -2%;
  }
  .justifyCenter {
    justify-content: center;
  }
  
  
  /* misc */
  .rtl {
    direction: rtl !important;
  }
  .bgTransparent {
    background: transparent !important;
  }
  .noPointer {
    pointer-events: none !important;
  }
  .v-main__wrap {
    overflow-y: hidden !important;
  }
  .avatarBack {
    opacity: 0.5;
  }
  .textEnd {
    text-align: end !important;
  }
  .textCenter {
    text-align: center !important;
  }
  .preWrap {
    white-space: pre-wrap !important;
  }
  .v-text-field > .v-input__control > .v-input__slot:before {
    border-style: none !important;
  }
  
  